*,*:before,*:after{
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
  margin: 0;
  
}
body{
    box-sizing: border-box;
    height: 100%;
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 0px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */


}
/* Header */
header{
  height: 70px;
  padding-top: 10px;
}
.input-containner, .search-container{

  float: left;
  margin: 2px;
  padding: 3px;
}

.search-input{
  background-color: #FCD6E3;
}

main{
  display: block;
}

a{
  text-decoration: none;
}

.search-box{

  float: right;
  border: solid 1.5px;
  border-radius: 5px;
  padding-top: 1px;
}

.search-box i{
  font-size: 20px;
  height: 25px;
  margin-right: 15px;
  padding-top: 5px;

}
input[type=text] {
  width: 100%;
  border: none;
  padding: 1px;
}

/* Sidebar */
.side-bar{
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 50px;
    margin-left: 10px;
}

.account{
  border-bottom: solid #afc6cf 2px;
  margin-bottom: 8px;
}

.side-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f0ebf4;
  padding-bottom: 10px;
  width: 95%;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  background-color: #A1C3D1 ;
}
.side-bar i{
  margin-right: 20px;
  width: 10px;
}

.side-bar a:hover {
  color: #B39BC8;
}

/* end Responsive sidebar */
.content
{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

/* Gallery */

img.slide {
  width: 710px;
  height: 90%;
  object-fit: cover;
}

img.slide:not(:first-child) {
  display: none;
}

.container {
  width: 710px;
  height: 460px;
  margin: 0 auto;
  position: relative;
  padding: 5px;
}

/* 2 button change slide: prev and next */
.btn-change {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0b9cd;
  color: #f89ccd;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

#next {
  right: 10px;;
}

#prev {
  left: 10px;
}

/* 4 button corresponding to 4 image */
.change-img {
  position: absolute;
  bottom: 50px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.change-img button {
  display: inline;
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.change-img button.active {
  width: 30px;
  color: white;
}

/* ******* */

.playlist
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.album-music{
  margin: 20px 15px;
  text-decoration: none;
}

.album-music img{
  display: block;
  border-radius: 7px;
  width: 150px;
  height: 150px;
  box-shadow: 0 15px 35px #3d2173a1;
}

.bxh{
    min-width: 250px;
    font-size: 20px;
}

.bxh li{
  list-style: none;
  margin: 10px;
  border-bottom: #f3f3f3 solid 1px;
  color: black;
}
.bxh p{
  font-size: 15px;
  padding-top: 10px;
}

.title{
    display: block;
    margin: 20px 0;
}
.text-info{
  color: black;
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}
.singer{
  margin-top: 10px;
}


/* Player */
/* Song */
.music {
  position: relative;
  border-radius: 12px;
  background-color: #f8bcd1;
  margin: 20px;
  padding: 10px;
}
.music-thumb {
  width: 100px;
  height: 100px;
}
.text-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -40px;
}
.text-content h4{
  margin-left: 10px;
}
.music-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  margin-bottom: 10px;
  padding-left: 10px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}
.play {
  position: relative;
}
.play:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86c);
  transform: scale(1.5);
  border-radius: 100rem;
}
.player-inner {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.play-repeat,
.play-back,
.play-forward {
  cursor: pointer;
}

.range {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  margin-bottom: 20px;
  margin-top: 30px;
  padding-top: 20px;
}
.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background-color: #eeee;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #FCD7E3 ;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  margin-top: -8px;
  box-shadow: 0 0 0 3px rgb(192, 189, 189), 0 0 0 6px rgba(100, 100, 111, 0.05);
}

/* Footer */  
footer
{
  display: block;
  padding: 10px 0;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
}
/* Scroll bar */

/* QC FORM */
.qc-form input[type=text],.qc-form input[type=password] {
  display: block;
  width: 100%;
  padding: 14px;
  border: none;
  background: white;
  margin-top: 10px;
}

input:focus {
  outline: none;
}

.qc-form input[type=text]:focus,.qc-form input[type=password]:focus {
  background: #f1f1f1;
}


.qc-button button:hover {
  opacity: 1;
}
a {
  color: dodgerblue;
}

.qc-sign-in {
  text-align: center;
}

.qc-button button {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 49%;
  opacity: 0.9;
  display: inline;
  margin-bottom: 0;
}

.qc-button {
  /* padding-left: 16px; */
}

hr {
  border: 1px solid #f1f1f1;
  
}

.qc-form {
  padding: 16px;
  padding-bottom: 0;
}

.qc-form * {
  margin-bottom: 15px;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  padding-bottom: 2.5rem;
}

/* Nghe Si */