body {
  box-sizing: border-box;
  height: 100%;
  font-size: 1em;
  font-family: Poppins, Helvetica, font-sans;
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  background-image: linear-gradient(0deg, #97D9E1 42%, #f3bbe0 100%);
}

.col-md-3{
  margin-bottom: 40px;
}

.album-poster{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 7px;
  box-sizing: 0 15px 35px #3d2173a1;
}

.album-poster img{
  width: 100%;
  min-height: 10rem;
}

@media (min-width:480px){

}

.album-poster:hover{
  box-shadow: none;
  transform: scale(0.98) translate(5px);
}

h3{
  font-size: 2rem;
  margin-bottom: 34px;
  border-bottom: 4px solid #e6e6e6;
  padding-bottom: 15px;
}

p{
  font-size: 1rem;
}
h4{
  font-size: 1.25rem;
}

.album-poster img{

}
/* SideBar */
@media (max-width:991px){
  .sidebar{
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
  }
}

.navbar-brand{
  font-weight: 100;
  letter-spacing: 0.3rem;
}

/* Gallery */

img.slide {
  object-fit: cover;
}

img.slide:not(:first-child) {
  display: none;
}

.content {
  margin: 20px 0;
}


.slide-show img{
  width: 100%;
  height: 100%;
}

.slide-show {
  display: flex;
  margin: 0 auto;
  position: relative;
  padding: 5px;
  justify-content: center;
}

/* 2 button change slide: prev and next */
.btn-change {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #9b9b9b;
  border: none;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}

#next {
  right: 10px;
}

#prev {
  left: 10px;
}

/* 4 button corresponding to 4 image */
.change-img {
  position: absolute;
  bottom: 50px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.change-img button {
  display: inline;
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.change-img button.active {
  width: 30px;
  color: white;
}

.bxh {

  font-size: 20px;
  box-shadow: 0 15px 35px #3d2173a1;
}

.bxh ol {
  display: block;
  font-weight: 700;
  color: #6d6d6d;
  text-align: center;
  padding: 10px 0;
  border-bottom: #f3f3f3 solid 1px;
  counter-reset: item;
}

.bxh li {
  position: relative;
  list-style: none;
  padding: 5px;
  border-bottom: #f3f3f3 solid 1px;
  color: black;
}

.bxh li:before {
  content: counter(item) "";
  counter-increment: item;
  position: absolute;
  top: 10px;
  right: 3px;
  font-size: 2rem;
}

.bxh h4, .bxh a, p, li::before {
  color: #6d6d6d;
}


/* PlaySong */
.title {
  display: block;
  margin: 20px 0;
}

.text-info {
  color: black;
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}

.singer {
  margin-top: 10px;
}


/* Player */
/* Song */

.music {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 15px;
  margin-bottom: 10px;
  } 
.music-thumb { grid-area: 1 / 1 / 4 / 2; }
.text-content { grid-area: 1 / 2 / 2 / 7; }
.music-footer { grid-area: 2 / 2 / 4 / 7; }
.music {
  position: relative;
  border-radius: 12px;
  background-color: #f8bcd1;
  max-height: 400px;
}


.text-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.music-thumb img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 10px;
}

.text-content, .music-footer{
  padding: 0 1.25rem;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}

.play {
  position: relative;
}

.play:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86c);
  transform: scale(1.5);
  border-radius: 100rem;
}

.player-inner {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.play-repeat,
.play-back,
.play-forward {
  cursor: pointer;
}
.range {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */

}

.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background-color: #eeee;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #FCD7E3;
  width: 15px;
  height: 15px;
  margin-top: -5px;
  border-radius: 100rem;
  box-shadow: 0 0 0 3px rgb(192, 189, 189), 0 0 0 6px rgba(100, 100, 111, 0.05);
}

/* footer */
footer {
  display: block;
  padding: 15px auto;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}


/* QC FORM */
.qc-form input[type=text],
.qc-form input[type=password] {
  display: block;
  width: 100%;
  padding: 14px;
  border: none;
  background: white;
  margin-top: 10px;
}

input:focus {
  outline: none;
}

.qc-form input[type=text]:focus,
.qc-form input[type=password]:focus {
  background: #f1f1f1;
}


.qc-button button:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.qc-sign-in {
  text-align: center;
}

.qc-button button {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 49%;
  opacity: 0.9;
  display: inline;
  margin-bottom: 0;
}

hr {
  border: 1px solid #f1f1f1;
}

.qc-form {
  padding: 16px;
  padding-bottom: 0;
}

.qc-form * {
  margin-bottom: 0.5rem;
} 

.qc-login{
  width: 50%;
  margin: 0 auto;
  border: solid green 1px;
  padding: 0.65em;
}